{% load static %}
{% load solo_tags %}
{% get_config 'bin.SiteConfiguration' as site_config %}

{% include 'bin/header.html' %}
{% block content %}

<!-- Service Start -->
<div class="service">
    <div class="container">
        <div class="section-header">
            <h2>{{site_config.page_practice_titl_our_practices_areas}} </h2>
        </div>
        <div class="row">
            {% for item_OPA in OurPracticesAreas %}

            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-icon">
                        {% if item_OPA.icon %}
                        <i class='{{ item_OPA.icon }}'></i>
<!--                        {{ item_OPA.icon }}-->
                        {% endif %}
                    </div>
                    <h3>{{ item_OPA.title }}</h3>
                    <p>
                        {{ item_OPA.text }}
                    </p>
                    <!--                    <a class="btn" href="">Learn More</a>-->
                </div>
            </div>

            {% empty %}

            {% endfor %}
        </div>
    </div>
</div>
<!-- Service End -->

<!-- Feature Start -->
<div class="feature">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="section-header">
                    <!--                    <h2>Why Choose Us</h2>-->
                    <h2>{{site_config.page_practice_title_why_choose_us}} </h2>
                </div>
                {% for item_WCM in WhyChooseMe %}
                <div class="row align-items-center feature-item">
                    <div class="col-5">
                        <div class="feature-icon">
                            <i class='{{ item_WCM.icon }}'></i>

                        </div>
                    </div>
                    <div class="col-7">
                        <h3>{{ item_WCM.title }}</h3>
                        <p>
                            {{ item_WCM.text }}
                        </p>
                    </div>
                </div>
                {% empty %}

                {% endfor %}
            </div>
            <div class="col-md-5">
                <div class="feature-img">
                    {% if site_config.page_practice_foto %}
                    <!--                    <img src="img/feature.jpg" alt="Feature">-->
                    <img src={{ site_config.page_practice_foto.url }} alt="Feature">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->

{% endblock content %}
{% include 'bin/footer.html' %}